<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donor's Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Kameron:400,700|Montserrat:300,300i,400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/media/css/dprofile.css">
</head>

<body>

    <div class="container">
        <h2>My Profile<span class="pull-right marg-bn"><i class="fa fa-wpforms" aria-hidden="true"></i></span></h2>

        <div class="reminder-blessing  pad-gb">
            <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
                <span class="font-df mrg-sl">Personal Details</span>
                <span class="font-df btn btn-link pull-right marg-bn">MANAGE</span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="font-bd">Name</h5>
                    <span class="">Aishwarya Nathani</span>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h5 class="font-bd">Email</h5>
                    <span class="">aishux07@gmail.com</span>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h5 class="font-bd">Account Connected</h5>
                    <span class="">0x5B38Da6a701c568545dCfcB03FcB875f56beddC4</span>

                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="address-information pad-gb">
            <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
                <span class="font-df mrg-sl">Agri Coins</span>
                <span class="font-df btn btn-link pull-right marg-bn">MANAGE</span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="font-bd">Total Balance</h5>
                    <span class="">589 AC</span>
                </div>

                <div class="col-sm-3">
                    <h5 class="font-bd">Amount can be withdrawn</h5>
                    <span class="">200 AC</span>
                </div>
                <br><br><br><br>
               
                <div class="col-sm-8">

                    <div class="col-sm-8">
                        <div class="form-group ">
                            <label class="btn btn-default man address-label">
                                <input type="radio" checked="">Refresh Balance
                            </label>
                            <label class="btn btn-default women address-label">
                                <input type="radio">Get Agri Coins
                            </label>
                            <button class="submit btn btn-dark save btn-lg" name="Submit">WITHDRAW</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>

        <div class="recent-order pad-gb">
            <div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
                <span class="font-df mrg-sl">Recent order</span>
                <span class="font-df btn btn-link pull-right marg-bn">VIEW ALL</span>
            </div>
            <div class="row mrg-zl pad-xt pad-xb border-btm">
                <div class="col-sm-3">
                    <span class="font-sb">ORDER#</span>
                </div>
                <div class="col-sm-1">
                    <span class="font-sb">DATE</span>
                </div>
                <div class="col-sm-3">
                    <span class="font-sb">ITEM IDS</span>
                </div>
                <div class="col-sm-1">
                    <span class="font-sb">TOTAL</span>
                </div>
                <div class="col-sm-2">
                    <span class="font-sb ">VIEW ORDER</span>
                </div>
                <div class="col-sm-2">
                    <span class="font-sb"></span>
                </div>
            </div>
            <div class="row mrg-zl pad-xt pad-xb border-btm">
                <div class="col-sm-3">
                    <span class="">0005435GFD412</span>
                </div>
                <div class="col-sm-1">
                    <span class="font-lt">8/8/2017</span>
                </div>
                <div class="col-sm-3">
                    <span class="font-lt">[778,779]</span>
                </div>
                <div class="col-sm-1">
                    <span class="font-lt">₹2,500</span>
                </div>
                
                <div class="col-sm-2">
                    <span class="font-lt btn btn-link marg-bn pad-zl">VIEW</span>
                </div>
                <div class="col-sm-2">
                    <span class="font-lt"></span>
                </div>
            </div>
            <div class="row mrg-zl pad-xt pad-xb border-btm">
                <div class="col-sm-3">
                    <span class="font-lt">0005435GFD412</span>
                </div>
                <div class="col-sm-1">
                    <span class="font-lt">8/8/2017</span>
                </div>
                <div class="col-sm-3">
                    <span class="font-lt">[778,772,457]</span>
                </div>
                <div class="col-sm-1">
                    <span class="font-lt">₹2,500</span>
                </div>
                <div class="col-sm-2">
                    <span class="font-lt btn btn-link marg-bn pad-zl">VIEW</span>
                </div>
                
            </div>
        </div>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>