.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  justify-content: center !important;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #84A98B


;
  padding: 30px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
  color: #ffffff;
}

figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-3 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-3 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */


  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }


  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  /* FAQ CSS */

  .faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  }
  .faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color 0.2s ease;
  }
  .faq-nav .nav-link:hover {
    background-color: #f6f6f6;
  }
  .faq-nav .nav-link.active {
    background-color: #f6f6f6;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
  }
  .faq-nav .nav-link:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
  }
  .faq-nav .nav-link i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
  }

  .tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  }
  .tab-content .card {
    border-radius: 0;
  }
  .tab-content .card-header {
    border-radius: 0;
    background-color : #F6F9FE;
  }
  .tab-content .card-header h5 {
    margin: 0;
  }
  .tab-content .card-header h5 button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: normal;
  }
  .tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
    text-decoration: none;
  }
  .tab-content .card-body p {
    color: #616161;
  }
  .tab-content .card-body p:last-of-type {
    margin: 0;
  }

  .accordion > .card:not(:first-child) {
    border-top: 0;
  }

  .collapse.show .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #50658e;

  }

  th, td {
    text-align: left;
    padding: 16px;
    border-color:50658e;
    color: #2a81ea;
  }


@media(max-width:600px){
  #hero_text_div,#about_covid_div{
    text-align: center;
  }
  .snip1390{
    max-width: none !important;
    flex: 100% !important;
    margin-left: 22px !important;
  }
  body > main > div.row.align-items-md-stretch > div:nth-child(2) > div > div{
    padding-left: 0px !important;
  }
}

@media(min-width:1000px) and (max-width:1100px){
  #symtoms_extra_div{
    display: none;
  }
}

@media (min-width:750px) and (max-width:800px){
  #symtoms_extra_div{
    display: none !important;
  }
  .snip1390{
    flex: 0 0 30.333333% !important;
  }
  #hero_text_div,#about_covid_div{
    text-align: center;
  }
}

.form-control {
  margin-bottom: 10px !important;
}

.action-form .btn-block{
  width: 100%;
  margin-top: 10px;
}

#faq-tab-content h5 button{
  text-decoration: none;
  padding: 15px 16px;
}

.card-header{
  padding: 0px;
}

#hero_text_div > div > a:nth-child(2) > button:hover{
  background-color: #47E0B0;
  color: white !important;
}

body p{
  color: #393e46;
}

div.container.col-xxl-10.px-1.py-1  div:nth-child(4) > div > div > div > h4{
  color: #84A98B


;
}

main  div.container.marketing  div  div  h4{
  color: #84A98B


;
}

body > main > div.container.col-xxl-10.px-1.py-1 > div:nth-child(2) > div.col-sm-8.col-lg-6 > table > tbody > tr > td > a{
  color: #84A98B


;
}

html,body{
    overflow-x:hidden;
}
